sentence-transformers==3.0.1
torch==2.6.0
pandas==2.2.3
numpy==1.26.2
faiss-cpu==1.8.0
openpyxl==3.1.5
ranx==0.3.2
litellm==2.2.3
google-generative-ai==0.7.2
python-dotenv==1.0.0
tqdm==4.67.1
datasets==3.1.0
wandb==0.17.5